.category {
    height: 150px;
    width: 150px;
    margin: 10px;
}

.category:hover {
    border: 1px solid #966909;
    transform: scale(1.1);
}

.categoryHeader {
    background-color: teal;
    color: white;
    height: 20%;
    font-style: italic;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 10px;
}

.description {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}